.community-wrapper {
    font-family: 'Karla', sans-serif;
    background-color: white;
}

.community-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.community-header {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    line-height: 1;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-top: 1rem;
    justify-items: center;
}

.community-wrapper .post-card {
    width: 350px;
}

.post-info {
    font-size: 0.85rem;
    color: #555;
}

.load-more-btn {
    margin: 2rem auto;
    display: block;
    background-color: #16612C;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.load-more-btn:hover {
    background-color: #2e7d32;
}

.create-post {
    background-color: #fff3d6;
    padding: 2rem;
    border-radius: 12px;
    margin-top: 4rem;
    width: 900px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.create-post h3 {
    margin-bottom: 1rem;
    margin-top: 0;
}

.image-preview-container {
    position: relative;
    margin-top: 1rem;
    width: fit-content;
}

.preview-wrapper {
    position: relative;
    display: inline-block;
}

.preview-image {
    width: 140px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.cancel-button {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    font-weight: 400;
    font-size: 12px;
}

.create-post input[type="text"],
.create-post textarea {
    display: block;
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: none;
}

.desc-box {
    height: 100px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-row button {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submit-btn {
    background-color: #16612C;
    color: white;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #2e7d32;
}